/* Enter your custom styles here */
.main{
    margin-top: 14px;
}
.header:first-child{
    margin-bottom: 84px;
}
.preencimentoBox{
    background-color: black; 
    
}
.rodapeTexto{
    margin-bottom: 8px;
}
.corTextBox{
    color: white;
}
.navBar{
    color: #27262a;
    font-weight: 700;
    font-size: 14px;
}
.logo{
   
}